{
    "version": "2018-05-29",
    "operation": "Query",
    "query": {
        "expression": "gameId = :gameId",
        "expressionValues": {
            ":gameId": { "S": "$ctx.source.id" }
        }
    }
}